Main h1 {
    color: #C0262C;
	font-size: 2.5em; /* 40/16=2.5 */
border-bottom: #C0262C solid thin;
padding-bottom: 7px;

}

Main h2 {
    font-size: 1.75em; /* 28/16=1.75 */
    background: #C0262C url(../multimidia/back-bolinha.gif) repeat top center;
color: #fff;
letter-spacing: .1em;
padding: 7px;
width: 316px;

}

main p { 	
font-size: 1.1em; 	
line-height: 1.3em; 	
text-align: justify; 
}

main h2+p:first-line {
font-size: 1.17em;
font-variant: small-caps;
font-weight: bolder;
font-style: italic;
}

main hr {
border-color: #C0262C;
}

body { 	
font-family: Helvetica, Arial, sans-serif; 
}

/* página produtos - tabela */
#produtos table {
	width: 600px; 
	margin: 50px auto 30px; 
	text-align: center;
	border-collapse: collapse; 
}

#produtos th, #produtos td {
	border: #999 solid 1px; 
	padding: 5px;
}

#produtos caption {
	background-color: #999; 
	color:#fff; 
	padding: 15px 0; 
	font-size: 1.5em;
}

#produtos td[colspan] {
	font-style:italic; 
	font-weight: bold; 
	color: #999;
}

#produtos tr:hover {
	background-color:#FEFF76;
}

/* página boletim - formulário */

form {
	background-color: #999;
	margin: 30px 0;
	padding: 20px;
border-radius: 0 15px; 
}

::-webkit-input-placeholder { /* Chrome/Safari/Opera */
   color: #ddd;
   font-style: italic;
   font-size: .8em;
}
::-moz-placeholder { /* Firefox */
   color: #ddd; 
   font-style: italic; 
   font-size: .8em; 
}
:-ms-input-placeholder {  /* IE */
   color: #ddd;  
   font-style: italic;
   font-size: .8em;
} 
label {
	display: block;
	margin-top: 7px;
	float: left;
	width: 60px;
}

input#nome, input#email {
	background-color: transparent;
 	border: none;
 	border-bottom: #000 solid 1px;
 	font-size: 1.2em;
 	color: #fff;
 	width: 800px;
 }

input[type="submit"]{
	background-color: #C0262C;
	background: linear-gradient(to bottom,  #6b1516 0%,#c0262c 30%,#c0262c 70%,#6b1516 100%);
	border: none;
	border-radius: 30px;
	font-size: 1.2em;
	color: #fff;
	padding: 10px 30px;
	margin: 20px 0;
	text-shadow: 2px 2px 5px #000;
	cursor: pointer;
} 

/* página banho e tosa - formulário */

#banhoEtosa fieldset {
	background-color: #fff;
	border: none;
	border-radius: 0 15px;
	margin-bottom: 20px;
}
#banhoEtosa fieldset legend{
	background-color: #C0262C;
	color: #fff;
	font-weight: bold;
	letter-spacing: .05em;
	padding: 10px;
	margin-left: -13px;
}

#banhoEtosa fieldset label {
	display: block;
	margin-top: 7px;
	float: left;
	width: 115px;
}
#banhoEtosa fieldset input[type="text"], 
#banhoEtosa fieldset input[type="email"] {
	border: none;
	border-bottom: #000 solid 1px;
	font-size: 1.2em;
	color: #000;
	width: 770px;
}

#banhoEtosa fieldset textarea {
	width: 770px;
	height: 100px;
	font-size: 1.2em;
	border: #000 solid 1px;
}

#banhoEtosa fieldset label.labelSimples {
	display: inline;
	float: none;
}

#banhoEtosa p {
text-align: left;
}
#banhoEtosa p:first-line {
font-size: inherit;
font-variant: inherit;
font-weight: inherit;
font-style: inherit;
}


#banhoEtosa main h2 {
	background: #FEF84F url(../multimidia/postit.jpg) no-repeat top left;
	color: #000;
	padding: 35px;
	/* padding: 35 para cada um dos 4 lados 
	   tamanho do postit: 277x185px */
	width: 207px;
	/* 35+35=70 > 277-70=207 */
	height: 115px;
	/* 35+35=70 > 185-70=115 */
	font-size: 1.3125em;
	/* 21/16=1.3125em */
	letter-spacing: .07em;
}



/* página quem somos */
#quemSomos main img {
	float: left;
	margin: 0 20px 20px 0;
	padding: 10px;
	border: solid #C0262C thin;
	background-color: #fff;
}

/* textos da área principal */


/* estrutura */
body {
width: 1000px;
margin-left: auto;
margin-right: auto;
}

header h1 {
	width: 240px;
	float: left;
	background-image: url(../multimidia/meu-amigo-cao-petshop-header.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 200px;
	text-indent: -1000px;
	margin-bottom: 0px;

}

header #anuncio {
	width: 510px;
	float: left;
	margin: 80px auto auto;
	padding-top: 0px;
}

header section {
	padding-top: 70px;
}
header section a[href="boletim.html"] {
	border: solid #C0262C thin;
	padding: 15px;
	border-radius: 15px;
	color: #C0262C;
	text-decoration: none;
	font-size: 1.1em;
}
header section p {
	color: #999999;
	margin: 33px auto 7px;
}
header section figure {
	width: 100%;
	margin: 0px;
}
header section figure a {
	padding: 25px 5px 0;
	border: none;
}
header section figure a:first-child {
	padding: 25px 5px 0 0;
}
header section figure a:last-child {
	padding: 25px 0 0 5px;
}

/* estrutura de navegação */
nav {
	background-color: #000;
	overflow: auto;
	clear: both;
	margin-top: 10px;
}
nav ul {
	list-style: none;
	padding-left: 0px;
	margin-top: 1px;
}
nav ul li {
	float: left;
}
nav ul a {
	color: #fff;
	text-decoration: none;
	font-size: 1.2em;
	padding: 8px 50px;
	line-height: 2em;
}
#inicial a[href="index.html"], 
#quemSomos a[href="quem-somos.html"], 
#produtos a[href="produtos.html"], 
#banhoEtosa a[href="banho-e-tosa.html"], 
#curiosidades a[href="curiosidades.html"] {
	background-color: #C0262C;
}

/* estrutura página inicial */
#inicial aside {
	width: 230px;
	float: left;
	margin-top: 30px;
}
#inicial main {
	width: 490px;
	float: left;
	margin: 30px 25px 10px;
}

/* rodapé */
footer {
	clear: both;
	border-top: 7px solid #999;
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 10px;
	}
footer p {
	margin: 0px;
}

/* página obrigado */
#obrigado main p img {
	float: left;
	margin: 0 20px 20px 0;
	padding: 10px;
	border: solid #C0262C thin;
	background-color: #fff;
}
#destaqueObrigado {
	position: relative;
	border: solid #C0262C 1px;
	border-radius: 0 25px;
	padding: 5px 25px;
	margin: 20px 0;
}

/* página obrigado */
#obrigado main p img {
	float: left;
	margin: 0 20px 20px 0;
	padding: 10px;
	border: solid #C0262C thin;
	background-color: #fff;
}
#destaqueObrigado {
	position: relative;
	border: solid #C0262C 1px;
	border-radius: 0 25px;
	padding: 5px 25px;
	margin: 20px 0;
}


#obrigado #lacinho {
	position: absolute;
	top: -20px;
	right: -20px;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}

/* transição em caixas - 3caixas de 163x230 */
.anuncioAnime {	
	margin: 0 0 10px; padding: 0;
	overflow: auto;
}
.anuncioAnime .boxAnuncio {
	width: 163px; height: 230px; 
	border-bottom: solid thin #C0262C; 
	float: left; 
	position: relative; 
	overflow: hidden;
}
.anuncioAnime .boxAnuncio p {
	text-align: center; 
	font-size: .95em; 
	line-height: 1.3em; 
	background-color: rgba(255, 255, 255, 1); 
	border-left: solid thin #C0262C; 
	border-right: solid thin #C0262C; 
	margin: 0; 
	padding: 7px 15px; 
	position: absolute; 
	bottom: -80px; left: 0; 
	transition: 1s linear 0.1s; cursor: default;
}
.anuncioAnime .boxAnuncio p:first-line {
	font-size: 1.1em;
	font-variant: inherit;
	font-style: normal;
	font-weight: bolder; 
	color: #C0262C; 
	padding: 0;
}
.anuncioAnime .boxAnuncio p:hover {
	background-color: rgba(255, 255, 255, 0.7); 
	bottom: 0;
}

/* controle de áudio */
aside audio {width: 230px;}


/* controle de vídeo */
aside video {width: 230px;}
